:root{
  --light-blue-color: #39A2DB;
  --primary-color: #54BAB9;
  --secondary-color: #E9DAC1;
  --tertiary-color: #F7ECDE;
  --danger-red-color: #fc4f4f;
  --light-color-bg: #FBF8F1;
  --light-color-text: #F0F0F0;
  --dark-color-text: #00092C;

  --backdrop-color: rgba(33, 33, 33, 0.7);
  --main-font: 'Yanone Kaffeesatz';
  --secondary-font: 'Josefin Slab';
}

/* Nav Component  */

.nav{
  font-family: var(--main-font);
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  background-color: var(--light-blue-color);
  font-family: 'Montserrat', sans-serif;
}
.nav h1{
  margin: 0;
  padding: .8em 0;
  color: var(--dark-color-text);
  text-transform: uppercase;
  letter-spacing: .3em;
}
/* End of Nav Component  */


/* Calendar Component  */
.calendar{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.calendar__header{
  font-family: var(--secondary-font), serif;
}
.calendar__block{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.calendar__weekdayheader{
  color: var(--light-color-text);
  width: 6em;
  height: 3em;
  background: var(--primary-color);
  border-radius: 5px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);;
}

.calendar-day{
  background-color: var(--tertiary-color);
  text-align: center;
  border-radius: 5px;
  height: 3.5em;
  font-family: var(--main-font), sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--dark-color-text);
  transition: all .2s;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  position:relative;
}
.calendar-day:hover{
  transform: translateY(-1px);
  transition: all .2s;
}

.empty{
  background-color: var(--light-color-text);
}

.current-day{
  color:var(--danger-red-color)
}

.calendar__monthchanger{
  height: .5em;
  width: .5em;
  margin:1em;
  padding:.6em;
  background-color: var(--light-color-bg);
  border-radius: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}
.calendar__monthchanger:hover{
  color:var(--primary-color);
  transition: all .3s;
}
.calendar__monthchanger:active{
  color:var(--dark-color-text)
}

.complete-wrapper{
  position: absolute;
  bottom:.3em;
  left:.3em;
}
.complete-check{
 color:green;
}
/* End of Calendar Component  */



/* Modal Component */
.backdrop {
  position: fixed;
  z-index: 1;
  background: var(--backdrop-color);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  background-color: var(--light-color-bg);
  padding: 2em;
  text-align: center;
  width: 65%;
  height: 80%;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;

}

/* End of Modal Component */